.color-box {
  display: block;
  height: 160px;
  text-align: center;
  padding: 0 20px;
  opacity: .9;
  transition: all .3s;
  &:hover {
    color: #555;
    text-decoration: none;
    opacity: 1;
    transform: scale(1.08);
  }
  &.focus {
    text-decoration: none;
  }
  .count {
    font-size: 50px;
    height: 80px;
    line-height: 80px
  }
  .desc {
    font-size: 18px;
    .fa {
      margin-right: 5px
    }
  }
}
